<section>
<h2>まだ…動かさない</h2>
<h3>姿勢：左手をキーボードに、右手をマウスに</h3>
<p>ブレンダーはショートカットキーをとにかくよく使います。</p>
</section>
<section>
<h3>ショートカットキーを覚える、使う</h3>
<p>マウスで慣れた動作でも、同じことをキーボードでできないか考えるようにします。</p>
<p>調べたら、なるべく使うようにして覚えます。</p>
<h3>検索するのを怠らない</h3>
<p>困ったら検索しましょう。英語で検索すると倍の情報が得られます。</p>
</section>
<section>
<p>長くなりました。</p>
<h2>3D空間に慣れる</h2>
<p>まずはマウスだけの操作の練習をして、ブレンダーに慣れましょう。</p>
</section>
<section>
<h2>数字探しゲーム</h2>
<div class="exercise">公園で、1〜7までの数字を見つけよう！</div>
<p><a href="https://www.dropbox.com/s/5gl28y14ukarmgc/finddigits.blend?dl=0" target="_blank"><i class="fa fa-download"></i> Download</a></p>
<div class="hints">右、左クリックは使わない、スクロールホイール、中ドラッグ、<k>shift</k> <i class="fa fa-plus"></i> 中ドラッグ</div>
</section>
<section>
<h2>ツールの名前</h2>
<p>これからの説明のため、最低限のツールの名前を紹介します。</p>
<h3>3Dカーソル</h3>
<img class="small left" src="/images/3dcursor.png" />
<p>ワープロで、カーソルといえば黒い四角の地味なやつ<span class="blink">■</span>。でも「3Dカーソル」は小柄だけど赤白シマシマの派手な装いだ。どんな混み入ったオブジェクトの上でもしっかり目立ちます！</p>
</section>
<section>
<h3>マニピュレータ</h3>
<img class="small left" src="/images/manipulator.png" />
<p>こいつは大きくて目立つため、よく「3Dカーソル」と間違われるが、別物！ 左ドラッグで回転、移動、お手の物の初心者の味方。</p><br />
<h3>原点</h3>
<img class="small left" src="/images/origin.png" />
<p>えっ、これにも名前があったの…？ オレンジ色の小粒。物体に必ず1つついている“へそ”。地味だけど、彼の存在を忘れていると上達しない。</p>
</section>
<section>
<h3>3D View</h3>
<img class="medium left" src="/images/3dview.png" />
<p>起動直後に目に入る、一番大きなペイン。当然、もっともよく使う。マウスカーソルがペインの上にないと、ショートカットが効かないので注意。</p>
<p>ペインの左がツールシェルフ、右がプロパティ。ツールシェルフは<k>T</k>、プロパティは<k>N</k>で出したり引っ込めたりできる。よく使うので出しておくと良い。</p>
