<section id="mouse">
<h2>空間移動</h2>
<p>3Dモデリングには動きの良いマウスが必須です。</p>
</section>
<section id="finddigits">
<h2>数字探しゲーム</h2>
<div class="exercise">下のファイルをブレンダーで開き、1〜7までの数字を見つけよう！</div>
<div class="hints">クリックは使わない、スクロールホイール、[shift]＋ドラッグ</div>
<a href="https://www.dropbox.com/s/5gl28y14ukarmgc/finddigits.blend?dl=0" target="_blank">Download</a>
</section>
