<footer>
<div class="signature">&copy; 2015 Masanori HONDA</div>
<div class="control-panel">
  <button class="btn btn-default btn-lg"><i class="fa fa-backward"></i></button>
  <button class="btn btn-default btn-lg"><i class="fa fa-forward"></i></button>
</div>
</footer>
</div> <!-- .container -->
