<!DOCTYPE html>
<meta charset="UTF-8" />
<meta name="author" content="Masanori HONDA" />
<meta name="copyright" content="Copyright Masanori HONDA" />
<meta http-equiv="content-language" content="ja">
<link rev="made" href="mailto:msnrhnd@hotmail.co.jp" />
<link href="/css/_.css" rel="stylesheet" type="text/css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link rel="shortcut icon" href="/favicon.ico" />
<script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/js/bootstrap/button.js"></script>
<script type="text/javascript" src="/js/bootstrap/dropdown.js"></script>
<script type="text/javascript" src="/js/_.js"></script>
<title>Blender101</title>

<div class="container">
<div class="header">
<a href="/"><h1>ブレンダー101</h1></a>
<a href="?sec=<%= chap %>">up</a>
</div>
