@import "compass";
@import "compass/reset";
@import "sassy-buttons";

$full-width: 100%;
$full-height: 100%;
$bevel: $full-width * .01;
$main-width: ($full-width - $bevel * 2) * .84;
$main-indent: $main-width * .2;
$side-width: ($full-width - $bevel * 2) * .16;
$header-height: 2rem;
$base-color: #333333;
$link-color: #428bca;

@mixin fontsize($size: 24, $base: 16) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

@mixin font {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

html {
  @include font;
  @include fontsize(32);
  color: $base-color;
  line-height: 1.6;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
  }
}

.header {
  position: fixed;
  left: $bevel;
  height: $header-height;
  width: $main-width - $bevel * 2;
  background-color: white;
  z-index: 1;
}

.container {
  box-sizing: border-box;
  position: absolute;
  width: $full-width;
  margin: 0 auto;
  padding: 0 $bevel;
  min-height: $full-height * .6;
}

h1 {
  font-size: 1.2rem;
  margin-bottom: .8em;
}

$btn-width: $main-width / 5;
$btn-margin: $btn-width / 20;

.main {
  position: relative;
  text-align: justify;
  padding: $header-height 0 0 $main-indent;
  width: $main-width;
  box-sizing: border-box;
  section {
    min-height: 32rem;
  }
  h2 {
    font-size: 1.6rem;
    margin-bottom: .4em;
  }
  h3 {
    font-weight: bold;
    margin-bottom: .4em;
  }
  p {
    margin-bottom: 1em;
  }
  ul {
    margin-bottom: 1em;
    li {
      list-style-type: disc;
    }
  }
  ol {
    margin-bottom: 1em;
    li {
      list-style-type: decimal;
    }
  }
  strong {
    font-size: 1.2em;
    font-weight: bold;
  }
  img {
    &.large {
      width: 90%;
      margin: 1rem;
    }
    &.middle {
      width: 40%;
      margin: 1rem;
    }
    &.small {
      width: 20%;
      margin: 1rem;
    }
  }
}

.middle_center {
  text-align: center;
  padding: 8rem 0;
}

emphasis {

}

.exercise {
  margin-bottom: 1em;
  &:before {
    content: '\f0c6\00a0';
    font-family: FontAwesome;
  }
}

.hints {
  padding: 1em;
  margin-bottom: 1em;
  @include border-radius(1em);
  background-color: beige;
}

#sidebar {
  position: fixed;
  top: 0;
  left: $main-width + $bevel;
  width: $side-width;
  background-color: white;
  a {
    text-align: center;
    display: block;
  }
}

.control-panel {
  position: fixed;
  bottom: $bevel;
  margin: 0 auto;
}

footer {
  position: fixed;
  left: $bevel;
  bottom: $bevel;
  width: $full-width - $bevel;
  .signature {
    position: relative;
    right: $bevel;
    text-align: right;
    font-size: .8rem;
  }
}