<% include elements/header %>
<div class="main">
<% if (chap) { %>
<%- include(chap + '/index') %>
<% } else { %>
<h2>ブレンダー入門</h2>
<% } %>
</div><!-- .main -->
<% include elements/side %>
<% include elements/footer %>
