<% include partial/header %>
<div class="main">
<% if (chap) { %>
<%- include(chap + '/index') %>
<% } else { %>
<h2 class="middle-center">ブレンダー101</h2>
<p>2015年2月21日 14:00〜</p>
<% } %>
</div><!-- .main -->
<% include partial/side %>
<% include partial/footer %>
