<% include header %>

<p>ブレンダーを楽しく使えるようになろう！</p>

<ol>
<li>視点を変更して空間を自由に移動する</li>
<li>右クリックで選択するのになれる</li>
<li>操作にはショートカットを使うようにする</li>
<li>身の回りのものはどうやったら作れるか？考えてみる</li>
</ol>

<h2>視点移動の基本操作</h2>
実はテンキーがあるとかなり捗るらしい

<h2>よく使うショートカット</h2>

マウスホイールを上方向に回す
マウスホイールを下方向に回す
マウスの中ボタンを押してドラッグ

<% include footer %>
