<% include header %>

<div class="container">
  <h1>ブレンダー</h1>
  <div id="svg"></div>
  <div class="control-panel">
    <div class="btn-group" data-toggle="buttons" id="level">
      <label class="btn btn-default btn-lg">
	<input type="radio" name="level" value="3">初 級
      </label>
      <label class="btn btn-default btn-lg active" >
	<input type="radio" name="level" value="4">中 級
      </label>
      <label class="btn btn-default btn-lg">
	<input type="radio" name="level" value="5">上 級
      </label>
    </div>
    <div id="answer">
    </div>
  </div><!-- .control-panel -->
<% include footer %>
