@charset "UTF-8";
/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/_.scss */
html {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-size: 32px;
  font-size: 2rem;
  color: #333333;
  line-height: 1.6;
}

/* line 31, ../sass/_.scss */
a {
  color: #428bca;
  text-decoration: none;
}

/* line 38, ../sass/_.scss */
.header {
  position: fixed;
  left: 1%;
  height: 2rem;
  width: 80.32%;
  background-color: white;
  z-index: 1;
}

/* line 47, ../sass/_.scss */
.container {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding: 0 1%;
  min-height: 60%;
}

/* line 56, ../sass/_.scss */
h1 {
  font-size: 1.2rem;
  margin-bottom: .8em;
}

/* line 64, ../sass/_.scss */
.main {
  position: relative;
  text-align: justify;
  padding: 2rem 0 0 8.232%;
  width: 82.32%;
  box-sizing: border-box;
}
/* line 70, ../sass/_.scss */
.main section {
  min-height: 32rem;
}
/* line 73, ../sass/_.scss */
.main h2 {
  font-size: 1.6rem;
  margin-bottom: .4em;
}
/* line 77, ../sass/_.scss */
.main h3 {
  font-weight: bold;
  margin-bottom: .4em;
}
/* line 81, ../sass/_.scss */
.main p {
  text-align: justify;
  overflow: hidden;
  margin-bottom: 1em;
}
/* line 86, ../sass/_.scss */
.main ul {
  margin-bottom: 1em;
}
/* line 88, ../sass/_.scss */
.main ul li {
  line-height: 1.8em;
  list-style-type: disc;
}
/* line 93, ../sass/_.scss */
.main ol {
  counter-reset: proc;
  margin-bottom: 1em;
}
/* line 96, ../sass/_.scss */
.main ol li {
  line-height: 1.8em;
  list-style-type: none;
  text-indent: -1.4em;
}
/* line 100, ../sass/_.scss */
.main ol li:before {
  text-indent: .24em;
  font-weight: bold;
  display: inline-block;
  counter-increment: proc;
  content: counter(proc);
  color: white;
  background-color: #428bca;
  width: 1.2em;
  height: 1.2em;
  margin-right: .2em;
  line-height: 1.2em;
  -webkit-border-radius: 0.6em;
  -moz-border-radius: 0.6em;
  -ms-border-radius: 0.6em;
  -o-border-radius: 0.6em;
  border-radius: 0.6em;
}
/* line 116, ../sass/_.scss */
.main k {
  border: 0.18em solid #428bca;
  padding: .1em .3em;
  margin: 0 .2em;
}
/* line 121, ../sass/_.scss */
.main strong {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 126, ../sass/_.scss */
.main img.large {
  width: 90%;
  margin: 0 1rem 1rem 0;
}
/* line 130, ../sass/_.scss */
.main img.medium {
  width: 40%;
  margin: 0 1rem 1rem 0;
}
/* line 134, ../sass/_.scss */
.main img.small {
  width: 20%;
  margin: 0 1rem 1rem 0;
}
/* line 138, ../sass/_.scss */
.main img.left {
  float: left;
}
/* line 141, ../sass/_.scss */
.main img.right {
  float: right;
}

/* line 147, ../sass/_.scss */
.middle_center {
  text-align: center;
  padding: 8rem 0;
}

/* line 152, ../sass/_.scss */
.advanced {
  margin-bottom: 1em;
}
/* line 154, ../sass/_.scss */
.advanced:before {
  content: '\f013\00a0';
  color: #428bca;
  font-family: FontAwesome;
}

/* line 161, ../sass/_.scss */
.exercise {
  margin-bottom: 1em;
}
/* line 163, ../sass/_.scss */
.exercise:before {
  content: '\f0c6\00a0';
  font-family: FontAwesome;
}

/* line 169, ../sass/_.scss */
.hints {
  padding: 1em;
  margin-bottom: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  background-color: beige;
}

/* line 176, ../sass/_.scss */
#sidebar {
  font-size: .74rem;
  position: fixed;
  top: 0;
  left: 83.32%;
  width: 15.68%;
  background-color: white;
}
/* line 183, ../sass/_.scss */
#sidebar a {
  text-align: center;
  display: block;
}
/* line 186, ../sass/_.scss */
#sidebar a:hover, #sidebar a.current {
  color: white;
  background-color: #428bca;
}

/* line 193, ../sass/_.scss */
.control-panel {
  position: fixed;
  bottom: 1%;
  margin: 0 auto;
}

/* line 199, ../sass/_.scss */
footer {
  position: fixed;
  left: 1%;
  bottom: 1%;
  width: 99%;
}
/* line 204, ../sass/_.scss */
footer .signature {
  position: relative;
  right: 1%;
  text-align: right;
  font-size: .8rem;
}
