<h2>楽しく使うために</h2>
<p>ただでさえ、慣れるまでは結構辛い操作系…</p>
<h3>パソコン</h3>
<p>モデリングだけなら、最近のパソコンならだいたいOK。</p>
<p>実写のようなレンダリングにこだわりはじめるとマシンパワーが必要になってきます。</p>
<h3>3ボタン＋スクロールホイール付きマウス</h3>
<p>視点移動に真ん中ボタンを多用します。スクロールホイールがあると拡大縮小がスムーズです。あるのとないのでぜんぜん違う！</p>
<h3>テンキー</h3>
<p>これもあると結構いいらしいです（未確認）。</p>
