<section id="whoami">
<h2>自己紹介</h2>
<h3>本多正徳</h3>
<p>1980年生まれ。都内で医学生物学の専門出版社に勤務。</p>
<h3>Facebook</h3>
<p><a href="https://www.facebook.com/msnrhnd" target="_blank">msnrhnd</a></p>
<h3>Twitter</h3>
<p><a href="https://twitter.com/e21_6e40" target="_blank">@e21_6e40</a></p>
<h3>マンガナイト</h3>
<p>マンガを介したコミュニケーションを創発するユニット。で、ウェブ制作を担当。<a href="http://manganight.net/" target="_blank">http://manganight.net/</a></p>
</section>
<section id="object">
<h2>本日できるようにしたいこと</h2>
<ol>
<li>3D空間を自由に移動する</li>
<li>右クリックで選択する操作になれる</li>
<li>なるべくショートカットを使うようにする</li>
<li>簡単なオブジェクトの試作</li>
<li>身の回りのものはどうやったら作れるか？考えてみる</li>
</ol>
<h2>今日やらないこと</h2>
<ol>
<li>レンダリングの細かい設定</li>
<li>外部データの取り込み</li>
<li>アニメーションとかゲーム</li>
<li>スクリプティング</li>
</ol>
</section>
<section id="whatisblender">
<h2>ブレンダーとは？</h2>
<ul>
<li>3Dグラフィックソフトウェア</li>
<li>モデリング機能</li>
<li>レンダリング機能</li>
<li>アニメーション機能</li>
<li>ゲームエンジン</li>
</ul>
<h2>ブレンダーの良いところ</h2>
<ul>
<li>無料！</li>
<li>ほぼ全てのOSで使える</li>
<li>商用利用できる</li>
</ul>
<a href="http://blenderfaq.blender.jp/home" target="_blank">BlenderFAQ</a>
</section>
<section id="gadget">
<h2>楽しく使うために、あるとよい道具</h2>
<p>ただでさえ慣れるまでは結構辛い操作系…</p>
<h3>3ボタン＋スクロールホイール付きマウス</h3>
<p>視点移動に真ん中ボタンを多用します。スクロールホイールがあると拡大縮小がスムーズです。あるのとないのでぜんぜん違う！</p>
<h3>テンキー</h3>
<p>これもあると結構いいらしいです（未確認）。</p>
</section>
