<h2>本日できるようにしたいこと</h2>
<ol>
<li>3D空間を自由に移動する</li>
<li>右クリックで選択する操作になれる</li>
<li>なるべくショートカットを使うようにする</li>
<li>簡単なオブジェクトの試作</li>
<li>身の回りのものはどうやったら作れるか？考えてみる</li>
</ol>
<h2>今日やらないこと</h2>
<ol>
<li>レンダリングの細かい設定</li>
<li>外部データの取り込み</li>
<li>アニメーションとかゲーム</li>
<li>スクリプティング</li>
</ol>
