<h2>ブレンダーとは？</h2>
<ul>
<li>3Dグラフィックソフトウェア</li>
<li>モデリング機能</li>
<li>レンダリング機能</li>
<li>アニメーション機能</li>
<li>ゲームエンジン</li>
</ul>
<h2>ブレンダーの良いところ</h2>
<ul>
<li>無料！</li>
<li>ほぼ全てのOSで使える</li>
<li>商用利用できる</li>
</ul>
<a href="http://blenderfaq.blender.jp/home" target="_blank">BlenderFAQ</a>
