<h2>自己紹介</h2>
<dl>
<dt>本多正徳</dt>
<dd>1980年生まれ。都内で医学生物学の専門出版社に勤務。</dd>
<dt>Facebook</dt>
<dd><a href="https://www.facebook.com/msnrhnd" target="_blank">msnrhnd</a></dd>
<dt>Twitter</dt>
<dd><a href="https://twitter.com/e21_6e40" target="_blank">@e21_6e40</a></dd>
<dt>マンガナイト</dt>
<dd>マンガを介したコミュニケーションを創発するユニット。で、ウェブ制作を担当。<a href="http://manganight.net/" target="_blank">http://manganight.net/</a></dd>
<dl>
