<section id="mode_toggle">
<h2>編集には、大きく2つのモードがある。[Tab]でトグルできる。</h2>
<h3>オブジェクトモード</h3>
<ul>
<li>選択したオブジェクトをかたまりとして扱う</li>
<li>オブジェクトの置いてある場所を変えたり、回転させたりできる</li>
<li>イラレでの「選択ツール」で触るイメージ</li>
</ul>
<h3>エディットモード</h3>
<ul>
<li>選択したオブジェクトの頂点を動かせる</li>
<li>オブジェクトの中心点を変えられる</li>
<li>イラレでの「ダイレクト選択ツール」で触るイメージ</li>
</ul>

<emphasis><p>細かいパーツの形は「エディットモード」でつくり込み、パーツ同士の合体に「オブジェクトモード」を使おう。</p></emphasis>
</section>
<section id="object_mode">
<h2>オブジェクトモードを使ってみる</h2>
<p>起動直後のワークスペースには、1m立方の箱が置いてある。ちょうど段ボール箱くらい。これを動かしたりしてみよう</p>
<h3>適当な移動（あまり使わない）</h3>
<p>右ドラッグ</p>
<h3>軸を固定して移動</h3>
<p>右クリックで選択、適当な場所を左クリック、3Dカーソルを右ドラッグして移動</p>
<p>右クリックで選択、[x][y][z]のどれかを押す、マウスムーブ</p>
<p></p>
<h3>オブジェクトの中心点を変える</h3>
<p>Menu</p>
<h3>コピー、クローンをつくる</h3>
<p></p>
<p>コピーとクローンの違い</p>
</section>
<section id="edit_mode">
<h2>エディットモード</h2>
</section>
<section id="node_edge_face">
<h2>頂点、辺、面。どれを動かす？</h2>
</section>
