<section>
<h2>2つのモードを意識する</h2>
<p>物体の編集には2つのモードが有ります。<k>tab</k>でトグルできます。自分が今どちらにいるのか、常に意識すると良いです。</p>
<strong>オブジェクトモード</strong> &amp; <strong>エディットモード</strong>
<img class="left medium" src="/images/object_mode.png" />
<img class="left medium" src="/images/edit_mode.png" />
</section>
<section>
<h2>オブジェクトモード</h2>
<ul>
<li>選択した物体をかたまりとして扱う（形を変えない）</li>
<li>物体を動かしたり、回転・拡大できる</li>
<li>物体をコピーできる</li>
<li>イラレの「選択ツール」風</li>
</ul>
</section>
<section>
<h2>エディットモード</h2>
<ul>
<li>選択した物体の頂点を動かせる。粘土を触るように…（形を変えない）</li>
<li>物体の原点の位置を変えられる</li>
<li>イラレの「ダイレクト選択ツール」風</li>
</ul>
</section>
<section>
<p>物体同士の位置関係を「オブジェクトモード」で調整し、物体の細かい形は「エディットモード」でつくりこもう。</p>
<div class="advanced">オブジェクトモードでの拡大とエディットモードでの拡大、何が異なる？</div>
</section>
<section>
<h2>オブジェクトモードことはじめ</h2>
<p>起動直後のワークスペースには、1m立方の箱（物体）が置いてあります。ちょうど段ボール箱くらい。これを動かしたりしてみます。</p>
</section>
<section>
<h3>フリー移動</h3>
<ol>
<li>物体を右ドラッグ</li>
<li>少しドラッグしたらマウスボタンから指を離して良い</li>
<li>目的の位置にきたら左クリックで確定</li>
</ol>
<h3>軸を固定して移動</h3>
<p>選択状態の物体（オレンジの輪郭が付く）を、マニピュレータの矢印を左ドラッグして移動</p>
<p>フリー移動中、<k>X</k><k>Y</k><k>Z</k>のどれかを押す、マウスムーブ</p>
<div class="advanced"><k>shift</k>＋<k>X</k>を押すとどんな制限がかかる？</div>
</section>
<section>
<h3>物体の原点を変える</h3>
<p>新しい原点に3Dカーソルを移動し、</p>
<p>Object <i class="fa fa-arrow-right"></i> Transform <i class="fa fa-arrow-right"></i> Origin to 3D Cursor</p>
<p>地味ですがかなり重要な操作です。</p>
</section>
<section>
<h3>コピー、クローンをつくる</h3>
<div class="advanced">コピーとクローンはどう違う？</div>
</section>
<section>
<h2>練習</h2>
<div class="exercise">団子を串に刺せ</div>
<img class="medium" src="/images/dango.png" />
<div class="hints">軸固定移動</div>
</section>
<section>
<div class="exercise">パズルピースを組み合わせよ</div>
<img class="medium" src="/images/puzzle.png" />
<img class="medium" src="/images/snap_panel.png" />
<div class="hints">フリー移動、スナップ</div>
</section>
<section>
<h2>エディットモードを使ってみる</h2>
<p>段ボール箱を選び、<k>tab</k>を押してみる。
<img class="middle left" src="/images/object_mode.png" />
<img class="middle left" src="/images/edit_mode.png" />
<p>テスト</p>
</section>
<section>
<h2>頂点、辺、面。どれを動かす？</h2>
</section>
