<section id="mode_toggle">
<h2>物体の編集には、大きく2つのモードがある</h2>
<p>[tab]でトグルできる。</p>
<h3>オブジェクトモード</h3>
<ul>
<li>選択した物体をかたまりとして扱う</li>
<li>物体をひっぱったり、回転させたりできる</li>
<li>イラレの「選択ツール」で触るイメージ</li>
</ul>
<h3>エディットモード</h3>
<ul>
<li>選択した物体の頂点を動かせる。粘土を触るように…</li>
<li>物体の中心点を変えられる</li>
<li>イラレの「ダイレクト選択ツール」で触るイメージ</li>
</ul>
<emphasis><p>物体同士の合体に「オブジェクトモード」を使い、物体の細かい形は「エディットモード」でつくりこもう</p></emphasis>
</section>
<section id="object_mode">
<h2>オブジェクトモードを使ってみる</h2>
<p>起動直後のワークスペースには、1m立方の箱（物体）が置いてある。ちょうど段ボール箱くらい。これを動かしたりしてみよう</p>
<h3>フリー移動</h3>
<p>物体を右ドラッグ</p>
<h3>軸を固定して移動</h3>
<p>物体を右クリックで選択、適当な場所を左クリック、3Dカーソルを右ドラッグして移動</p>
<p>物体を右クリックで選択、[x][y][z]のどれかを押す、マウスムーブ</p>
<p></p>
<h3>物体の中心点を変える</h3>
<p>Menu</p>
<h3>コピー、クローンをつくる</h3>
<p></p>
<p>コピーとクローンの違い</p>
</section>
<section id="object_practice">
<h2>練習</h2>
<div class="exercise">団子を串に刺せ</div>
<img class="middle" src="/images/dango.png" />
<div class="hints">軸固定移動</div>
<div class="exercise">パズルピースを組み合わせよ</div>
<img class="middle" src="/images/puzzle.png" />
<img class="middle" src="/images/snap_panel.png" />
<div class="hints">フリー移動、スナップ</div>
</section>
<section id="edit_mode">
<h2>エディットモードを使ってみる</h2>
<p>段ボール箱を選び、[tab]を押してみる。
</section>
<section id="node_edge_face">
<h2>頂点、辺、面。どれを動かす？</h2>
</section>
