<h2>編集には、大きく2つのモードがある</h2>
<h3>オブジェクトモード</h3>
<ul>
<li>選択したオブジェクトをかたまりとして扱う</li>
<li>オブジェクトの置いてある場所を変えたり、回転させたりできる</li>
<li>イラレでの「選択ツール」で触るイメージ</li>
</ul>
<h3>エディットモード</h3>
<ul>
<li>選択したオブジェクトの頂点を動かせる</li>
<li>オブジェクトの中心点を変えられる</li>
<li>イラレでの「ダイレクト選択ツール」で触るイメージ</li>
</ul>

<emphasis><p>細かいパーツの形は「エディットモード」でつくり込み、パーツ同士の合体に「オブジェクトモード」を使おう。</p></emphasis>
