<section id="why">
<h2>なぜブレンダーを使いたいのか？</h2>
</section>
<section id="mycase">
<h2>私の場合</h2>
<p>オリジナルキャラクターを使った3Dゲームを作りたい！</p>
</section>
<section id="history">
<h2>私のブレンダー歴</h2>
インストールして半年くらい使っていなかった…
</section>
<section id="sketchupbetter">
<h2>なぜ？</h2>
<p>SketchUpの方が使いやすい</p>
</section>
<section id="reason">
<h2>使うようになった理由</h2>
<p>ブレンダーのモデルがUnityで使える</p>
</section>
<section id="test">
<h2></h2>
</section>
