<section id="atfirst">
<h2>挫折しないために</h2>
<p>ブレンダーはすばらしいですが、操作にクセがあると言われています。（<strong>右クリックでの選択</strong>、選択状態のトグル、ドラッグの感覚…）</p>
<p>私は自分の作りたいものを、そこそこ作れるようになるまで<strong>約半年</strong>かかりました。</p>
<p>慣れるとクセのある操作も、けっこう理にかなっています。</p>
<p></p>
</section>
<section id="why">
<h2>なぜブレンダーを使いたいのか？</h2>
<ul>
<li>立体CG</li>
<li>アニメーション</li>
<li>設計図</li>
<li>3Dプリント</li>
<li>マンガの背景</li>
</ul>…
</section>
<section id="mycase">
<h2>私の場合</h2>
<ul>
<li>オリジナルキャラクターを使った3Dゲームを作りたい！</li>
<li><a href="http://japan.unity3d.com/" target="_blank">Unity</a>で使える形式の3Dデータを使えるソフト</li>
</ul>
</section>
<section>
<h2>しかし</h2>
<p>インストールして3カ月くらい使っていなかった…</p>
</section>
<section>
<h2>使わなかった理由</h2>
<ul>
<li><a href="http://www.sketchup.com/" target="_blank">SketchUp</a>の方が使いやすいかったため</li>
<li>起動した時の画面に圧倒された</li>
</ul>
</section>
<section>
<img class="large" src="/images/firstview.png" />
<p>ボタンが細かすぎる！</p>
<p>マウスで物体をクリックしても、カーソルが動くばかりで全く動かない！</p>
</section>
<section>
<h2>使うようになった理由</h2>
<ul>
<li>SketchUpでつくったモデルはUnityではそのまま使えない</li>
<li>最初はブレンダーをファイルコンバータとして使っていたが、そのまま編集したほうが楽である</li>
<li>しぶしぶ使っているうちに使いやすさに気付いてきた</li>
</ul>
</section>
<section>
<h2>ブレンダーの習熟グラフ</h2>
<img class="large" src="/images/graph.png" />
</section>
<section>
<h2>初期の作品</h2>
<p>こういう時のためにもっと失敗作をとっておけばよかった</p>
<img class="medium" src="/images/secondowl.png" />
<iframe width="420" height="315" src="https://www.youtube.com/embed/0fEJQ6yVpJY" frameborder="0" allowfullscreen></iframe>
</section>
<section>
<h2>では起動してみましょう！</h2>
<img class="large" src="/images/blender-plain.png" />
</section>
<section id="setting">
<h2>最初の設定</h2>
<p>File <i class="fa fa-arrow-right"></i> User Preferences <i class="fa fa-arrow-right"></i> Inputタブ</p>
<p><i class="fa fa-check-square-o"></i> Emulate 3 Button Mouse（3ボタンマウスじゃない人のために）</p>
<p><i class="fa fa-check-square-o"></i> Emulate Numpad（テンキーもエミュレートできる）</p>
<p>Save User Settings</p>
</section>
