<section id="atfirst">
<h2>挫折しないために</h2>
<p>ブレンダーは操作にクセがあり、ちょっと使いにくいソフトです。</p>
<p>私は自分の作りたいものを、そこそこ作れるようになるまで<strong>約1年</strong>かかりました。</p>
<p>根気と練習がすべてですが、</p>
</section>
<section id="why">
<h2>なぜブレンダーを使いたいのか？</h2>
<ul>
<li>設計図</li>
<li>3Dプリント</li>
<li>マンガの背景</li>
…
</section>
<section id="mycase">
<h2>私の場合</h2>
<ul>
<li>オリジナルキャラクターを使った3Dゲームを作りたい！</li>
<li><a href="http://japan.unity3d.com/" target="_blank">Unity</a>で使える形式の3Dデータを使えるソフト</li>
</ul>
</section>
<section id="history">
<h2>しかし</h2>
<p>インストールして半年くらい使っていなかった…</p>
</section>
<section id="reason1">
<h2>使わなかった理由</h2>
<p><a href="http://www.sketchup.com/" target="_blank">SketchUp</a>の方が使いやすかった</p>
<p>起動した時の画面に圧倒された</p>
<img class="large" src="/images/firstview.png" />
<p>細かすぎる！軽く動かそうとしても全く動かない！</p>
</section>
<section id="reason2">
<h2>使うようになった理由</h2>
<p>ブレンダーのモデルがそのままUnityで使える</p>
<p></p>
</section>
<section id="">
<h2>ブレンダーの習熟グラフ</h2>
</section>
<section id="">
<h2>失敗作ギャラリー</h2>
<p>こういう時のためにもっと失敗作をとっておけばよかった</p>
</section>
<section id="">
<h2>では起動してみましょう！</h2>
</section>
<section id="setting">
<h2>最初の設定</h2>
<p>まずは起動から…</p>
<p>File -> User Preferences -> Inputタブ</p>
<p><i class="fa fa-check-square-o"></i> Emulate 3 Button Mouse（3ボタンマウスじゃない人のために）</p>
<p><i class="fa fa-check-square-o"></i> Emulate Numpad（テンキーもエミュレートできる）</p>
<p>Save User Settings</p>
</section>
