<section>
<h2>さらなる上達に向けて</h2>
<p>身の回りのものを見て、効率のよいモデリング方法を考えてみましょう。</p>
<div class="hints">対称形、基本図形の組み合わせ、繰り返し構造、形から形の引き算…</div>
<h2>ブレンダー以外の3Dソフトの動向にも注意しておこう</h2>
<ul>
<li>どのソフトが3D</li>
<li>バッドノウハウを身につけない</li>
</ul>
</section>
